/* =============
    Base
============= */
* {box-sizing: border-box;}

ul.blankList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.bulletFix{
    list-style-type: disc !important;
}

img{
    width: 100%;
}
.title {
    margin: 0;
    text-align: center;
}
section {
    align-items: center;
    padding: 0 var(--rhythm);
}
.gallery{
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
}