/* =============
    Typography
============= */
* {
    color: var(--lightModePrimary);
}
a:link{color: var(--accentBlue60);}
a:visited{color: var(--accentBlue50);}
a:active, a:hover{color: var(--accentBlue70);}

p{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-family: 'Open Sans';
    font-size: 28pt;
    font-weight: 800;
}
h2{
    font-family: 'Open Sans';
    font-size: 20pt;
    font-weight: 700;
}
h3{
    font-family: 'Open Sans';
    font-size: 16pt;
    font-weight: 600;
}