/* =============
    Header
============= */
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--rhythm);
    & h1{
        font-size: 1.875rem;
        font-weight: 800;
        & a{
            color: var(--accentBlue50) !important;
            text-decoration: none;
        }
    }
}